*,
*::before,
*::after{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

#head{
    background-color: grey;
    height: 10vh;
    width:100vw;
}

#colr1
{
    background-color: grey;
    height: 30vh;
    width:100vw;
    display:flex;
    justify-content: center;
      
    padding-left:200px;
}

#div1
{
    background-color: white;
    color: black;
    padding-top : 20px;
    padding-bottom : 10px;
    padding-left: 50px;
    width :75%;
   height:30vh;
      
   
}

.bio2{
    display: inline-block;
    line-height: 1.7;
    padding-top:5px;
    padding-right:10px;
   
}

.new{
    
    padding-left:200px;
    line-height:1.3;
    
}

.br{
    border-top: 2px solid black;
   width:100%;
   
}